@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(20px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.toplogo {
    animation: fadeIn 1s ease-in-out;
    width: 100px;
    height: 100px;
    transition: width 0.3s ease, height 0.3s ease;
    
}

.toplogo:hover {
    cursor: pointer;
    width: 150px;
    height: 150px;
    transition: width 0.3s ease, height 0.3s ease;
}